.AnchorPane {
    -fx-background-radius: 11;
    -fx-border-radius: 11;
    -fx-background-color: #171718;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: black;
}


.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0;
}

.scroll-bar:vertical {
    -fx-pref-width: 10;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}
.nextImg {
    -fx-cursor: hand;
}