.scroll-pane{
    /*-fx-border-color: black transparent black transparent;*/
    /*-fx-border-color:white;*/
    /*-fx-border-width: 1px;*/
}

#userBox , #topBox{
    -fx-border-color: black transparent black transparent;
    -fx-border-width: 1px;
    /*-fx-border-radius: 0 0 20 20;*/
    /*-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.5), 10.0 , 0.0 , 1.0 ,10.0);*/
}

#ancherPaneOfgridPane {
    -fx-background-image: url('../namedIcons/bubble9.png');
    -fx-background-size: cover;
}

#lisUsers{
    -fx-background-image: url('../citizenHub/discussion.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}



#searchHbox .button{
    -fx-background-color:  #f4f4f4;
    -fx-border-width: 1px;
    -fx-border-radius: 0 20 20 0;
    -fx-border-color: black ;
    -fx-background-radius: 0 20 20 0 ;
}
#searchHbox .text-field{
    -fx-background-color:  white;
    -fx-border-color: black transparent black black;
    -fx-border-width: 1px;
    -fx-border-radius: 20 0 0 20 ;
    -fx-background-radius: 20 0 0 20 ;
}

#searchHbox .button:hover {
    -fx-border-color:  #fdc847 ;
    -fx-background-color:  #fdc847 ;
}
