#sideBar {
    -fx-background-color: #171718;
    -fx-background-radius: 11;
}

.mainWindow {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 11;
}

.borderPane {
    -fx-background-radius: 11;
    -fx-border-radius: 11;
    -fx-background-color: #F1F1F1;
}



#sideBar .button {
    -fx-font-size: 17px;
    -fx-background-color: transparent;
    -fx-min-width: 210px;
    -fx-min-height: 40px;
    -fx-max-width: 210px;
    -fx-max-height: 40px;
}

#sideBar .button:hover {
    -fx-background-color: rgba(241, 241, 241, 0.16);
    -fx-padding: 20px;
    -fx-border-radius: 5px;
}

#header .button {
    -fx-background-color: transparent;
    -fx-min-width: 27px;
    -fx-min-height: 27px;
    -fx-max-width: 27px;
    -fx-max-height: 27px;
}

#header .button:hover {
    -fx-background-color: rgba(61, 61, 61, 0.18);
    -fx-border-radius: 5px;
}

#header .button-close:hover {
    -fx-background-color: rgb(196, 43, 28);
    -fx-border-radius: 5px;
}