.btn:hover{
    -fx-cursor:hand ;
}


.table-view {
    -fx-background-color:#f4f4f4;
    -fx-background-radius:20;
    -fx-padding: 5;
}

.table-view .column-header-background{
        -fx-background-color: #D9D9D9;
        -fx-background-radius:20;
        -fx-background-insets: 0 0 4 0;
}

.table-view .column-header, .table-view .filler{
        -fx-size:50px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color:transparent;
        
}

.table-view .column-header .label {
        -fx-text-fill: black ;
        -fx-size:100px;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-font-size: 14;
}

.table-row-cell:selected {
    -fx-background-color: #fdc847;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-border-width: 0.09em;
    -fx-alignment: center ;
    -fx-border-color: transparent transparent black transparent;
}



