#formBox .text-field ,#formBox .text-area ,#formBox  .choice-box ,#formBox  .combo-box , #itemDesc,#mainHbox .text-area {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent black transparent ;
    /*-fx-border-radius: 10;*/
    /*-fx-background-radius: 10;*/
}
/*#formBox  .text-area .content{*/
/*    -fx-background-color: transparent;*/
/*    !*-fx-background-radius: 10;*!*/
/*    !*-fx-border-radius: 10;*!*/
/*}*/

/*#formBox  .text-area .viewport{*/
/*    -fx-background-color: transparent;*/
/*    !*-fx-background-radius: 10;*!*/
/*    !*-fx-border-radius: 10;*!*/
/*}*/

/*#formBox  .text-area .scroll-bar:vertical {*/
/*    -fx-pref-width: 0.1em;*/
/*    -fx-background-color:  #f4f4f4;*/
/*}*/

.text-area{
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent black transparent ;
    /*-fx-border-radius: 10;*/
    /*-fx-background-radius: 10;*/
}


.text-area .content{
    -fx-background-color: transparent;
    /*-fx-background-radius: 10;*/
    /*-fx-border-radius: 10;*/
}

.text-area .viewport{
    -fx-background-color: transparent;
    /*-fx-background-radius: 10;*/
    /*-fx-border-radius: 10;*/
}

.text-area .scroll-bar:vertical {
    -fx-pref-width: 0.1em;
    -fx-background-color:  #f4f4f4;
}



/*#mainHbox .text-area,#mainHbox .text-area .content {*/
/*    -fx-background-color: transparent;*/
/*    -fx-border-width: 1;*/
/*    -fx-border-color: transparent;*/
/*    -fx-border-radius: 10;*/
/*    -fx-background-radius: 10;*/
/*}*/

/*#mainHbox .text-area{*/
/*    -fx-background-color:  #f4f4f4;*/
/*    -fx-border-width: 0.01em;*/
/*    -fx-border-color: black;*/
/*    -fx-border-radius: 10;*/
/*    -fx-background-radius: 10;*/
/*}*/


#formBox .label{
    /*-fx-padding: 0 0 0 8px;*/
    -fx-border-width: 1px;
    /*-fx-border-color: transparent transparent black transparent;*/
    -fx-border-color: transparent;
}
#formBox .button{
    -fx-background-color:  white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-radius:20;
    -fx-border-radius: 20;
}
#formBox .button:hover {
    -fx-border-color: #fdc847;
}



#dob .text-field {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    /*-fx-border-width: 0.01em;*/

}

#dob ,#dob .arrow-button {
    -fx-background-color:  transparent;
    -fx-border-width: 0.08em;
    /*-fx-border-width: 1;*/
    -fx-border-color: transparent transparent black transparent;
}


/*#dob .text-field,#sDate .text-field {*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-color: transparent;*/
/*    -fx-border-radius: 10px 0 0 10px;*/
/*}*/

/*#dob,#sDate{*/
/*    -fx-background-color:  #deddd9;*/
/*    -fx-background-radius: 10px 0 0 10px;*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-color: grey;*/
/*    -fx-border-radius: 10px 0 0 10px;*/
/*}*/
/*#formBox .button {*/
/*    -fx-background-color:  #deddd9;*/
/*    -fx-border-color: grey grey grey transparent;*/
/*    -fx-border-width: 1px;*/
/*    -fx-background-radius: 0 10px 10px 0;*/
/*    -fx-border-radius: 0 10px 10px 0;*/
/*}*/

/*#formBox .text-field {*/
/*    -fx-background-color:  #deddd9;*/
/*    -fx-border-color: grey transparent grey grey;*/
/*    -fx-border-width: 1px;*/
/*    -fx-background-radius: 10px 0 0 10px;*/
/*    -fx-border-radius: 10px 0 0 10px;*/
/*}*/

/*#formBox {*/
/*    !*-fx-border-radius: 10px;*!*/
/*    -fx-background-color: red;*/
/*}*/


